*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-color: #85929E;
    margin:0;
}

a{
    text-decoration: none;
    color:white;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #033859;
    padding: 8px 12px;

}

.menubar{
    display:flex;
    list-style: none;
    padding-left: 0;
    
    
}
.menubar li{
padding: 8px 12px;


}
.menubar a{
    color: white;
    font-family: 'Teko', sans-serif;
}

.myname{
    font-size: 35px;
    font-family: 'Teko', sans-serif; 
}

.myname i{
    color: #EAA91D;
    font-size:40px;
}
.myname a{
    color:#fff;
}

.menubar i{
    color:#EAA91D;
    display:flex;
    align-items: center;

}
.content{
    background-color:#85929E;
    border:auto;  

}
.mypic{
    width:300px;
    height:200px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 30px;
    
}
#aboutme{
    background-color:#EAA91D;
    color:#fff;
    font-family: 'Teko', sans-serif;
    margin: 30px 30px;
    border-radius:20px;
}

.aboutme h2{
    margin-left:30px;
}

.aboutme p{
    margin:0;
    margin-left:30px;
    margin-bottom:30px;
    
    
}

#contact{
    display:flex;
    color:#fff;
    align-items: center;
    background-color: #EAA91D;
    padding: 30px 30px;
    border-radius: 30px;
    margin: 30px 30px;
  
}
section h2{
    color:#fff;
    margin-left:30px;
    


}
section li{
    align-items: center;
    display:flex;
    list-style:none;
    text-decoration: none;
}









footer{
    display:flex;
    background-color: #033859;
    color:#fff;
    align-items: center;
    padding: 30px 30px;
    justify-content:space-around;
}

.footer h3{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer p{
    display:flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    .navbar{
        flex-direction:column;
        align-items: flex-start;
    }
    .menubar{
        flex-direction:column;
        align-items: center;
        width:100%
    }
  
}